/* Hide the browser's default radio button */
.vtex-sku-selector__item {
  font-size: 90%;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 36px;
}

.vtex-sku-selector__item-image {
  padding: 0;
  height: 40px;
  width: 40px;
}

.diagonal-cross {
  background-image: linear-gradient(
    to top right,
    transparent 44%,
    rgba(0, 0, 0, 0.3) 48%,
    currentColor 48%,
    currentColor 52%,
    transparent 52%
  );
}

.frame-around {
  bottom: -0.25rem;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
}
